body {
  background: white;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #F45B2A;
}

a:hover {
  border-bottom: 1px solid #F45B2A;
}

#main-header {
  height: 80px;
  padding-top: 10px;
}

#main-header h1 {
  font-family: "Playball", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 55px;
  margin-top: 0;
  line-height: 66px;
  color: #F45B2A;
  text-rendering: optimizeLegibility;
  width: 200px;
  float: left;
}

#main-header .subtitle {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 75px;
  color: #444;
}

#main-header .menu {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  color: #444;
  float: right;
}

#main-header .menu a {
  text-decoration: none;
  color: inherit;
}

#main-header .menu a:hover {
  color: #F45B2A;
}

.hero-wrapper {
  background: #F45B2A;
  width: 100%;
}

.hero {
  padding: 20px 0;
  padding-bottom: 30px;
}

.hero .title {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 47px;
  color: white;
  clear: both;
  margin: 0;
  margin-bottom: 10px;
}

.hero .subtitle {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.85);
  clear: both;
  margin: 0;
}

#main {
  clear: both;
  margin-top: 10px;
  margin-bottom: 50px;
}

.mascot {
  float: right;
}

section {
  margin-bottom: 20px;
  clear: both;
}

section:first-of-type {
  width: 70%;
  clear: none;
}

section h2 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 5px;
}

section h2 small {
  font-weight: 400;
  font-size: 13px;
}

section p {
  color: #444;
}

section p:first-of-type {
  margin-top: 10px;
}

section.screenshots {
  height: 330px;
}

section.screenshots a {
  color: inherit;
}

section.screenshots a:hover {
  border: none;
}

section.screenshots figure {
  width: 48%;
  margin-top: 10px;
}

section.screenshots figure:first-of-type {
  float: left;
}

section.screenshots figure:last-of-type {
  float: right;
}

section.screenshots img {
  width: 100%;
  border-radius: 3px;
}

section.screenshots figcaption {
  font-size: 13px;
  text-align: center;
}

code {
  padding: 1px 3px;
  background: #fafafa;
  color: #444444;
  font-family: Inconsolata, Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace;
}

pre {
  display: block;
  padding: 10.5px;
  background-color: #002d38;
  border-radius: 3px;
}

pre code {
  padding: 0;
  background: none;
  border: 0;
  color: white;
}

section .subsection {
  background: #dedede;
  padding: 2px 20px;
  margin-bottom: 10px;
  margin-left: 30px;
  border-radius: 3px;
}

footer {
  width: 100%;
  height: 120px;
  background: #222;
  border-bottom: 20px solid #F45B2A;
}

footer .thg {
  float: right;
  color: #efefef;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  #main-header {
    height: 140px;
  }

  #main-header h1, #main-header .subtitle {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
    display: block;
  }

  #main-header h1 {
    margin-bottom: 0;
  }

  #main-header .subtitle {
    line-height: 25px;
  }

  .hero {
    padding: 10px 0;
  }

  .hero .title {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .hero .subtitle {
    font-size: 16px;
  }

  .mascot {
    display: none;
  }

  section:first-of-type {
    width: 100%;
  }

  section h2 {
    text-align: center;
  }

  section h2 small {
    display: block;
  }

  section.screenshots {
    height: 225px;
  }

  section .subsection {
    width: 100%;
    margin: 0 auto;
  }

  footer .thg {
    margin: 0 auto;
  }

  .forkme {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  #main-header {
    height: 120px;
  }

  .hero .title {
    font-size: 30px;
  }

  .forkme {
    display: block;
  }
}
